@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.ttf') format(truetype);
  font-style: normal;
  font-weight: 300;
}

:root {
  --main-color: #03002c;
  --accent-color: #067e9c;
}

body {
  background-color: #ffffff;
  font-family: Roboto-Black, sans-serif, Verdana, Geneva, Tahoma;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover { color: var(--accent-color); }

.dummy-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.wrapper {
  display: grid;
  grid-template: 1fr 6fr / 1fr 6fr;
}

.header {
  padding: 0 30px 0 30px;
  grid-column: 2 / -1;
  display: grid;
  grid-template: repeat(2, 1fr) / 60% 1fr;
  align-items: center;
  box-shadow: 2px 2px 4px #999999;
}

.search-bar > a {
  color: var(--main-color);
}

.search-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dashboard-search {
  width: 90%;
  background-color: #e9e9e9;
  padding: 6px;
  border: none;
  border-radius: 20px;
}

.dashboard-search:focus { outline: 3px solid var(--main-color); }

.user-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.user {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-panel > a:hover { color: var(--accent-color); }

.greeting {
  font-weight: bold;
  line-height: 160%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.greeting-user { font-size: 1.4rem; }

.header-nav {
  display: grid;
  grid-template-columns: repeat(3, 130px);
  justify-content: end;
  gap: 20px;
}

.header-nav > button {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.header-nav > button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.sidebar {
  color: #ffffff;
  background-color: var(--main-color);
  padding: 20px;
  grid-row: 1 / -1;
}

.sidebar-heading {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-nav {
  margin: 40px 0 40px 0;
  display: grid;
  gap: 10px;
}

.sidebar-nav-item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.sidebar-nav-item > a {
  color: #ffffff;
  font-size: 1.3rem;
}

.sidebar-nav a:hover, 
.project-nav a:hover { color: var(--accent-color); }

.main {
  background-color: #e2e2e279;
  padding: 20px;
  display: grid;
  grid-template: repeat(2, 1fr) / auto 300px;
  gap: 20px;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template: 25px repeat(auto-fit, 250px) / repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  gap: 20px;
}

.main-heading {
  font-size: 20px;
  font-weight: bold;
  grid-column: 1 / -1;
  align-self: end;
}

.project {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border-left: 8px inset var(--accent-color);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.project,
.announcements,
.trends { box-shadow: 2px 2px 4px #999; }

.project-name {
  font-size: 26px;
  margin-bottom: 10px;
}

.project-nav {
  place-self: end;
  display: flex;
  gap: 20px;
}

.main-aside {
  display: grid;
  grid-template-rows: 25px auto;
  gap: 20px;
}

.announcements,
.trends {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 15px;
}

.announcement:not(.announcement:last-of-type) { 
  border-bottom: 1px solid #999999ad;
  padding-bottom: 10px;
}

.announcement-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.trend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trend > .dummy-avatar { 
  width: 50px;
  height: 50px; 
}

.trending-user { font-weight: bold; }

.trending-project { margin-top: 5px; }